h1{
    color: blue;
}
#unique{
    color: red;
    font-weight: bold;
}
*{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}
.item{
    color:green
}
h2,p{
    font-style: italic;
}
div>span{
    color:brown;
    font-weight: bold;
}
h3+p{
    background-color: turquoise;
}
h4~p{
    border: 1px solid red;
}
a:hover{
    color:orange
}
p::first-letter{
    font-size: 25px;
    color: yellow;
}